<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
  <%= "Tu es connecté avec le mail #{current_user.email} et ton username : #{current_user.username}" %>
<% else %>
  <p>You are not connected</p>
<% end %>